/* CSS Code */
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4F46E5;
}
.swiper-pagination-bullet-active {
  background: #4F46E5 !important;
}

/* UPDATE DESIGN IN CHAT */
.chat-button {
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: #4F46E5;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.chat-button:hover {
  background: #3730a3;
}

.chat-window {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 450px;
  background-color: #1a1b1e;
  border: 1px solid #2d2f31;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  z-index: 1000;
}

.chat-window.open {
  display: flex;
}

.chat-header {
  background: #0079d3;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
  background-color: #141415;
  color: #d1d5db;
  scroll-behavior: smooth;
  word-wrap: break-word;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: calc(100% - 50px);
}


.chat-input {
  display: flex;
  padding: 10px;
  background: #1a1b1e;
  border-top: 1px solid #2d2f31;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #0079d3;
  border-radius: 5px;
  background-color: #2d2f31;
  color: #d1d5db;
}

.chat-input input::placeholder {
  color: #6b7280;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.chat-input button:hover {
  background: #005bb5;
}
.chat-sent {
  background-color: #0079d3;
  color: white;
  align-self: flex-end;
  text-align: right;
  padding: 10px;
  margin: 5px 0 5px auto;
  border-radius: 10px 10px 0 10px;
  max-width: 70%;
}

.chat-received {
  background-color: #e5e7eb;
  color: black;
  align-self: flex-start;
  text-align: left;
  padding: 10px;
  margin: 5px auto 5px 0;
  border-radius: 10px 10px 10px 0;
  max-width: 70%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #181c1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.dropdown-content a img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dropdown-content a:hover {
  color: white;
}

/* Luis css code */
.bg-reddit{
  background-color: #0e1113;
}
.reddit-aside{
  background-color: #0e1113;
  padding-top: 80px;
  padding-left: 30px;
}
.border-reddit-nav{
  border-bottom: #5c5b5b solid 0.9px;
}
.sidebar-border{
  border-right: #5c5b5b solid 0.9px;
}
main{
  right: 0;
  width: 70%;
  padding-top: 4rem;
  padding-left: 21rem;
}
.feed-nav{
  font-size: 12px;
  font-weight: bold;
  color: #4a5b68;
}
.feed-card{
  border-top: #323131 solid 0.1px;
  
  :hover{
      background-color: #181c1f;
  }
}
.profile-feed{
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
hr{
  border-top: #323131 solid 0.1px;
}
.active-page{
  background: #394246;
  width: 90%;
  padding: 8px;
  border-radius: 15px;
}
.hoversidebar:hover{
  background: #394246;
  width: 90%;
  padding: 8px;
  border-radius: 15px;
  transition: 0.5s;
}
.font-stack {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.bx .bx-plus{
  font-size: larger;
}

      .bg-reddit{
        background-color: #0e1113;
      }
      .reddit-aside{
        background-color: #0e1113;
        padding-top: 80px;
        padding-left: 30px;
      }
      .border-reddit-nav{
        border-bottom: #5c5b5b solid 0.9px;
      }
      .sidebar-border{
        border-right: #5c5b5b solid 0.9px;
      }
      .carousel-reddit{
        right: 0;
        width: 95%;
        padding-top: 70px;
        padding-left: 21rem;
      }
      .bg-cover {
        background-size: cover;
      }
      
      .bg-center {
        background-position: center;
      }
      .scrollbar-hide {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
      }
      
      .scrollbar-hide::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
      }
      
      
      
      
      /* For Firefox */
      .carousel {
        scrollbar-width: none; /* Hide scrollbar */
      }
      
    
      .guest-main{
        right: 0;
        width: 70%;
        padding-left: 21rem;
      }
      .feed-nav{
        font-size: 12px;
        font-weight: bold;
        color: #4a5b68;
        display: block;
      }
      .feed-card{
        border-top: #323131 solid 0.1px;
        
        :hover{
          background-color: #181c1f;
        }
      }
      .profile-feed{
        height: 20px;
        width: 20px;
        border-radius: 100%;
      }
      hr{
        border-top: #323131 solid 0.1px;
      }
      .active-page{
        background: #394246;
        width: 90%;
        padding: 8px;
        border-radius: 15px;
      }
      .font-stack {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
                     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
      }
      .bx .bx-plus{
        font-size: larger;
      }
      .create-post{
        font-size: 25px;
        color: white;
      }
      .custom-scrollbar::-webkit-scrollbar {
        width: 0; /* Hide scrollbar */
      }
      
      .custom-scrollbar:hover::-webkit-scrollbar {
        width: 12px; /* Show scrollbar on hover */
      }
      
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #2d2d2d; /* Color of the track */
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #312a28; /* Color of the thumb */
        border-radius: 6px; /* Roundness of the thumb */
        border: 3px solid #2d2d2d; /* Padding around the thumb */
      }
      
      /* For Firefox */
      .custom-scrollbar {
        scrollbar-width: none; /* Hide scrollbar */
      }
      
      .custom-scrollbar:hover {
        scrollbar-width: thin; /* Show scrollbar on hover */
        scrollbar-color: #312a28 #2d2d2d; /* Thumb and track color */
      }

/* End Luis code */
/* Kristel code start*/
.notification-dropdown-content {
  min-width: 340px; 
}
.profile-dropdown-content {
  min-width: 230px;
  top: 40px; 
}
.dropdown-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.dropdown-content a img {
  margin-right: 8px;
  width: 34px;
  height: 32px;
  border-radius: 50%;
}
.dropdown-content a:hover {
  color: white;
}
.notification-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-top: 24px;
}
.notification-subtext {
  font-size: 14px;
  text-align: center;
  color: #6c7e88;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.notification-dropdown {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.notification-dropdown img {
  width: 108px;
  height: 153px;
  border-radius: 50%;
  margin-bottom: 8px;
  margin-left: 96px;
  margin-top: 19px;
}
.notification-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #adc0c9;
  margin-bottom: 8px;
}
.notification-divider {
  height: 3px;
  background-color: #648efc;
  margin-bottom: 16px;
  border-radius: 50px;
}
.profile-info {
  margin-left: -275px;
  position: relative;
}
.profile-buttons {
  font-weight: 500;
  color: #eef1f3;
  margin-right: 27px;
}
.profile-buttons button {
  background-color: none;
  border-radius: 20px;
  padding: 9px 13px;
  margin: 5px;
  color: #dbe4e9;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 14px;
  font-size: 14px;
}
.profile-buttons button.active {
  background-color: #3d494e;
}
.profile-buttons button:hover {
  color: white;
  text-decoration: underline;
}
.profile-name {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #b7cad4;
}
.profile-username {
  color: #748791;
  font-size: 12px;
}
.add-image {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #2a3236;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -5px;
  left: 27%;
  transform: translateX(-50%);
}
.add-image img {
  width: 15px;
  height: 15px;
}
.profile-dropdown-username {
  color: #748791;
  font-size: 12px;
  margin-left: 60px;
  margin-top: -18px;
  padding-bottom: 1rem;
}
.profile-card-wrapper {
  width: 333px; 
  height: 820px; 
  overflow-y: auto; 
  margin-left: 240px;
  margin-top: 40px;
}

.profile-card {
  background: linear-gradient(to bottom, #003c94, #000000 14%);
  width: 313px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: hidden;
}

/* Custom scrollbar styles */
.profile-card-wrapper::-webkit-scrollbar {
  width: 12px; 
}

.profile-card-wrapper::-webkit-scrollbar-track {
  background: transparent; 
}

.profile-card-wrapper::-webkit-scrollbar-thumb {
  background-color: #2a2a2a; 
  border-radius: 10px; 
  border: 3px solid transparent; 
  background-clip: padding-box; 
}

.profile-card-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a1a;
}
.profile-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-card .header .share-icon {
  background-color: #333;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile-card .header .share-icon:hover {
  background-color: #444;
}
.profile-card h2 {
  font-size: 16px;
  margin: 0;
  margin-top: 77px;
  color: #eef1f3;
  font-weight: bold;
}
.profile-card .stats {
  margin-top: 20px;
  font-size: 14px;
}
.profile-card .stats div {
  margin-bottom: 4px;
}
.profile-card .achievements {
  margin-top: 20px;
}
.profile-card .achievements img {
  width: 38px;
  height: 38px;
  margin-right: -11px;
}
.profile-card .settings {
  margin-top: 20px;
}

.profile-card .settings h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: #8ba2ad;
  font-weight: bold;
  margin-bottom: 16px;
}

.profile-card .settings .settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-card .settings .settings-item img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-card .settings .settings-item button {
  background-color: #2a3236;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 7px 7px;
  font-size: 12px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 90px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 144px;
  margin-top: -15px; 
}

.profile-card .settings .settings-item button:hover {
  background-color: #3a3f44;
}

.profile-card .settings .settings-item .settings-text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.profile-card .settings .settings-item p {
  font-size: 12px;
  color: #8ba2ad;
  margin: 0;
  margin-top: -37px;
  margin-left: 10px;
}

.profile-card .links {
  margin-top: 20px;
}
.profile-card .links button {
  background-color: #2a3236; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 9px 13px; 
  font-size: 12px; 
  font-weight: bold;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: background-color 0.2s, border 0.2s;
}
.profile-card .links button:hover {
    background-color: #3d494e; 
    color: white; 
  
}
.share-button {
  background-color: #2a3236;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 7px 17px;
  font-size: 12px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  width: 80px;
  margin-top: 12px;
  transition: background-color 0.2s; 
}
.share-button:hover {
  background-color: #3a3f44; 
}
.profile-card .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.profile-card .stats .value {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.profile-card .stats .label {
  font-size: 12px;
  color: #8ba2ad;
}
.achievements {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.achievements h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #8ba2ad;
  font-size: 12px;
}
.badge-container {
  display: flex;
  align-items: center;
  gap: 1px; 
}
.badge-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #8ba2ad;
  font-size: 12px;
  margin-left: 23px;
  cursor: pointer;
}
.badge-text span:hover {
  text-decoration: underline;
}
.view-all-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.unlocked-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #8ba2ad;
  font-size: 12px;
}
.view-all-button {
  background-color: #2a3236;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  transition: background-color 0.2s, border 0.2s;
}
.view-all-button:hover {
  background-color: #3a3f44; 
  text-decoration: underline;
}
.divider {
  border-top: 1px solid #3d4b50; ;
  margin-top: 10px;
}
.badge-container img {
  background-color: black;
  border-radius: 50%;
  padding: 1px; 
  transition: transform 0.2s; 
}
.badge-container img:hover {
  transform: translateY(-5px); 
}
aside#profileView {
  margin-left: 437px;
  padding-top: 2rem;
}
.reddit-aside nav ul li a:hover {
  background-color: #394246;
}

.profile-card .divider {
  border-top: 1px solid #3d4b50;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links-title, .trophy-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: #8ba2ad;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-social-link-button {
  background-color: #2a3236;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: background-color 0.2s, border 0.2s;
}

.add-social-link-button:hover {
  background-color: #3a3f44;
}

.trophy-case {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.trophy-icon {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

.trophy-text {
  font-size: 14px;
  color: #8ba2ad;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.active-page a {
  background-color: #394246;
  width: 90%;
  padding: 8px;
  border-radius: 15px;
  color: white;
}
.dropdown-content.notification-dropdown-content {
  top: 35px; /* Adjust the value to move the dropdown lower */
}
  .profile-buttons-hr {
    width: 90%;
    margin: 10px auto;
    border: 0;
    border-top: 1px solid #ccc;
  }
  .no-posts {
    text-align: center;
    margin-top: 20px;
  }
  
  .no-posts img {
    width: 63px;
    height: auto;
    margin-left: 77px;
  }
  
  .no-posts-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #bfcac9;
    margin-top: 10px;
  }
/* Kristel code enddsssss*/